# Django
SECRET_KEY=your-django-secret-key
DEBUG=True

# Stripe USD
STRIPE_PUBLISHABLE_KEY_USD=pk_test_your_usd_publishable_key
STRIPE_SECRET_KEY_USD=sk_test_your_usd_secret_key

# Stripe EUR
STRIPE_PUBLISHABLE_KEY_EUR=pk_test_your_eur_publishable_key
STRIPE_SECRET_KEY_EUR=sk_test_your_eur_secret_key